body{
    background-color: black;
}


h1{
    color: white;
}

.val{
    padding: 20px;
    margin: 10px;
}

.btn{
    background-color: blue; 
    color: white;
    padding: 10px important;
    border-radius: 10px;
}